body {
  background-color: #0c190d;
}
.main {
  color: white;
  display: flex;
  flex-direction: row;
}
.userWeather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* height: 100vh; */
}
.notesAlong {
  display: flex;
}
.timerAlong {
  display: flex;
  flex-direction: column;
}
button {
  position: relative;
  right: 10px;
}
